
/* Color Theme Swatches in Hex */
$Logotype-and-Logomark-Collection-1-hex: #3C35F2;
$Logotype-and-Logomark-Collection-2-hex: #615CF2;
$Logotype-and-Logomark-Collection-3-hex: #8985F2;
$Logotype-and-Logomark-Collection-4-hex: #0511F2;
$Logotype-and-Logomark-Collection-5-hex: #F2F2F2;
$grey: #575757;

body {
    .card {
        text-align:left;
    }
}

h1 {
    margin-top:16px;
}

h2{
    font-family: niveau-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: $grey;
}

.hidden{
    display: none;
}
#bombermen {
    .item {
        .image {
            height:200px;
            border-radius: 10px;
            width:100%;
            background-size:cover !important;
            background-position:center !important;
            background-repeat:no-repeat !important;
        }
    }
}




#logo{
    height: 60px;
}