/* Color Theme Swatches in Hex */

/* Color Theme Swatches in Hex */

h1 {
  margin-top: 16px;
}

h2 {
  font-family: niveau-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #575757;
  font-size: 32px;
  letter-spacing: .8px;
  line-height: 38px;
}

h3 {
  font-family: niveau-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #575757;
  font-size: 24px;
  line-height: 28px;
}

p {
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #575757;
  font-size: 18px;
  line-height: 28px;
}

.button {
  text-decoration: none;
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #615CF2;
  border: none;
  border-radius: 5px;
  padding: 10px 40px 10px 40px !important;
  text-align: center;
  color: #F2F2F2;
  width: 150px !important;
}

.hidden {
  display: none;
}

#mainNav {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #615cf2f9;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay-con {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  font-family: niveau-grotesk, sans-serif;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #F2F2F2;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #E4E4E4;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay a {
  font-size: 20px;
}

.overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
}

#mainHead {
  background: #F2F2F2;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 30px;
}

#logo {
  height: 60px;
}

.landing {
  padding: 40px;
  text-align: center;
  background: #F2F2F2;
}

.introCon {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 40px;
  text-align: center;
  margin-top: 20px;
}

.introCon h2 {
  margin-bottom: 40px;
}

.introBoxes {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.introBoxes img {
  width: 80%;
  margin-bottom: 20px;
  max-width: 250px;
}

.introBoxes h3 {
  margin-bottom: 20px;
}

#signUp {
  margin-bottom: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
}

#signUp img {
  max-height: 400px;
}

#signUpCon {
  background: #F2F2F2;
  padding: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 40px;
  text-align: center;
  margin-top: 20px;
}

.container a {
  text-decoration: none;
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #615CF2;
  border: none;
  border-radius: 5px;
  padding: 10px 40px 10px 40px !important;
  text-align: center;
  color: #F2F2F2;
  width: 150px !important;
  line-height: 44px;
}

.container label {
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #575757;
  font-size: 18px;
  line-height: 28px;
}

.container input {
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #3C35F2;
  width: 250px;
}

.container textarea {
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #3C35F2;
  width: 250px;
}

.container button {
  text-decoration: none;
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background: #615CF2;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: #F2F2F2;
  width: 160px;
  margin-top: 20px;
}

#listings {
  margin-top: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap;
}

.listingCon {
  background-color: #F2F2F2;
  border-radius: 10px;
  text-align: left;
  padding: 30px;
  margin: 30px;
  width: 300px;
}

.listingCon h3 {
  margin-bottom: 10px;
}

.listingCon h3:nth-child(odd) {
  color: #615CF2;
}

.image {
  height: 200px;
  border-radius: 10px;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  margin-bottom: 10px;
}

#searchCon {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

#searchCon form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#searchCon label {
  background: #615CF2;
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #F2F2F2;
  padding: 8.5px 10px 8.5px 10px;
  border-radius: 5px 0px 0px 5px;
}

#searchCon input {
  border: 2px solid #615CF2;
  background: #fff;
  padding: 5px 10px 5px 10px;
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #575757;
  width: 250px;
  border-radius: 0px 5px 5px 0px;
}

#resultCon {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  margin-bottom: 15px;
  border: 2px solid #3C35F2;
  border-radius: 5px;
}

#resultCon #infoCon {
  text-align: left;
  -webkit-box-align: center;
          align-items: center;
  margin-right: 10px;
}

#resultCon h3 {
  font-size: 20px;
}

#resultCon img {
  max-height: 60px;
  max-width: 129px;
  margin-right: 10px;
}

.form-group {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  text-align: left !important;
  float: left !important;
}

#createForm {
  margin-top: 60px;
}

footer {
  background: #F2F2F2;
  padding: 40px;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  #mainNav {
    display: contents;
  }

  #mainNav ul li {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }

  #mainNav a {
    text-decoration: none;
    font-family: niveau-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #615CF2;
    font-size: 18px;
    line-height: 28px;
    margin-left: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }

  #mainNav a:hover {
    background: #615CF2;
    color: #F2F2F2;
  }

  #navOverCon {
    display: none;
  }

  #hmbgrMenu {
    display: none;
  }
}

